#textBox {
    position: fixed;
    bottom: 5%;
    width: 80%;
    margin-left: 17%;

}

#profileImageTextBoxFigure {
    position: fixed;
    bottom: 4%;
    margin-left: 3%;
}

#settingsBtn {
    position: fixed;
    bottom: 5%;
    margin-left: 11%; 
}

#profileImage {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.userList {
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.closebtn {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.user {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    visibility: hidden
}

.userList .closebtn {
    position: absolute;
    top: 0;
    right: 15%;
    font-size: 36px;
    margin-left: 50px;
}

.box {
    position: relative;
    top:-35px;
}

.field {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    width: 50%;
}

.button.is-fullwidth.is-small {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    top: 200px;
    width: 30%;
}

::-webkit-scrollbar {     
    background-color: #fff;
    width: .4em
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background:  rgb(156, 156, 156);
    border-radius: 10px;
}