#textBox {
    position: fixed;
    bottom: 5%;
    width: auto;
    margin-left: 17%;
    transition: width 0.5s;
    width: 76%;
}

#profileImageTextBoxFigure {
    position: fixed;
    bottom: 4%;
    margin-left: 3%;
}

#settingsBtn {
    position: fixed;
    bottom: 5%;
    margin-left: 11%; 
}

#profileImage {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.userList {
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.user {
    padding: 8px 0px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.userList #closebtn {
    position: absolute;
    text-decoration: none;
    color: #818181;
    top: 0;
    right: 8.5px;
    margin-left: 50px;
    font-size: 22px;
    display: block;
    transition: 0.3s;
}

.userList #closebtn:hover {
    color: #d4d4d4
}

.box {
    position: relative;
    top:-35px;
}

.field {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    width: 50%;
}

.button.is-fullwidth.is-small {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    top: 200px;
    width: 30%;
}

#main {
    margin-left: 30px;
    transition: margin-left .5s;
}

/* #footer {
    margin-left: 30px;
    transition: margin-left .5s;
} */

::-webkit-scrollbar {     
    background-color: #fff;
    width: .4em
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background:  rgb(156, 156, 156);
    border-radius: 10px;
}